@media screen and (max-width: 1600px) {
    :root{
        --max-container-width: 95%;
        --default-font-size: 17px;
        --h2-font-size: 23px;
        --default-btn-size: 23px;
    }
}
@media screen and (max-width: 1440px) {
    :root{
        --banner-h1-size: 60px;
        --default-btn-size: 22px;
        --default-input-padding: 20px 25px;
    }
}
@media screen and (max-width: 1366px) {
    :root{
        --default-input-padding: 17px 20px;
    }
}
@media screen and (max-width: 1280px) {
    :root{
        --banner-h1-size: 55px;
        --default-font-size: 15px;
        --default-btn-size: 20px;
    }
}
@media screen and (max-width: 1200px) {
    :root{
        --main-header-height: 85px;
    }
}

@media screen and (max-width: 1024px) {
    :root{
        --h1-font-size: 34px;
        --banner-h1-size: 50px;
        --default-btn-size: 18px;
        --default-font-size: 14px;
    }
}

