/* Mobile */
.mobile {
    display: block;
}
.desktop {
    display: none;
}
@media screen and (max-width: 991px) {
    :root{
        --max-container-width: 95%;
        --h1-font-size: 34px;
        --h2-font-size: 23px;
        --default-btn-size: 18px;
        --default-font-size: 14px;
        --main-header-height: 100px;
        --default-input-padding: 20px 25px;
        --banner-h1-size: 50px;
    }
    .top-header {
        display: none;
    }
    .main-header .logo-wrap {
        flex: 0 0 80%;
        -ms-flex: 0 0 80%;
        max-width: 80%;
    }
    .main-header .default-logo {
        max-width: 400px;
    }
    div#primary {
        margin-top: var(--main-header-height);
    }
    /* Mobile Menu Styles */
    .rocket-mobile-button {
        position: fixed;
        display: block;
        top: 35px;
        right: 15px;
        z-index: 999;
    }
    #page .logo-wrap p {margin-bottom: 0px;}
    #page .hamburger-inner, 
    #page .hamburger-inner:after, 
    #page .hamburger-inner:before {
        background-color: #fff;
    }
    #page button.hamburger {
        padding: 0px;
        outline: none;
    }
    .is-active .hamburger-box {
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 9px 3px;
        height: 26px;
        width: 25px;
    }
    #page .is-active  .hamburger-inner, 
    #page .is-active  .hamburger-inner:after, 
    #page .is-active  .hamburger-inner:before {
        width: 15px;
        height: 3px;
    }
    button.hamburger.is-active:before {
        content: 'CLOSE';
        font-size: 15px;
        display: inline-block;
        vertical-align: super;
        margin-right: 5px;
        color: #fff;
        margin-bottom: 0px;
    }
    #rocket-mobile-menu .phone-number-mobile {
        margin: 20px 0px;
    }
    #rocket-mobile-menu .phone-number-mobile a {
        width: 100%;
        padding: 12px 0px;
    }
    div#rocket-mobile-menu .widget_nav_menu a {
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
    }
    div#rocket-mobile-menu .widget_nav_menu ul li {
        text-align: left;
        margin: 0px;
    }
    div#rocket-mobile-menu .additional-information {
        font-size: 12px;
        text-align: center;
    }
    div#rocket-mobile-menu .additional-information a {
        color: #fff;
    }
    div#rocket-mobile-menu .additional-information .fas {
        margin-right: 5px;
    }
    /* End of Mobile Menu Styles */
}
@media screen and (max-width: 767px) { 
}
@media screen and (max-width: 640px) { 
}
@media screen and (max-width: 414px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) { 
}